<input class="button" id="answer" type="button" value="Drop Some Knowledge">

<div id="answer_area">
  <span class="answerformarea" id="answerformarea">
    <%= form_for :answer, url: answers_path, method: :post  do |f| %>
    <%= f.label "Answer: " %><br>
    <%= f.text_area :body, rows: 2, cols: 100, :placeholder => "Enter your answer here..." %><br>
    <%=  f.submit :ANSWER %>
    <% end %>
  </span>
  <br>
</div>

<div class="question_show">
<h2 class="question"><%= @question.body%></h2>

<% @counter = 0 %>
<ul>
  <%@question.answers.each do |answer|%>
  <% @counter += 1 %>

  <li class="bullet">
    <div id="<%= @counter %>" >
     <span id="<%= @counter %>" class="answer"><%= answer.id %></span>
     <div class="answers"><%= answer.body %></div>
     <div class="responder">Posted By: <%= User.find(answer.user_id).username.capitalize%></div>
     Total Votes:<span class="vote_count"> <%= answer.vote_total %> votes</span>

     <a id="<%= @counter %>" class="vote" data-vote="up" href="update_vote">vote up</a>
     <a id="<%= @counter %>" class="vote" data-vote="down" href="update_vote">vote down</a>

   </li>
   <% end %>
 </ul>
</div>