<div class="sign_up">
  <h1>Sign Up</h1>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <p> First Name: <br> <%= f.text_field :first_name %> </p>
    <p> Last Name: <br> <%= f.text_field :last_name %> </p>
    <p> Username: <br> <%= f.text_field :username %> </p>
    <p> Password: <br> <%= f.text_field :password %> </p>
    <p> Confirm Password: <br> <%= f.text_field :password_confirmation %> </p>
    <%= f.submit :Signup %>
  <% end %>
</div>
