<div class="sign_up">
  <h1>Sign Up</h1>
  <%= form_for(:user, url: {action: 'create'}) do |f| %>
    <p> First Name: <br> <%= f.text_field :first_name %> </p>
    <p> Last Name: <br> <%= f.text_field :last_name %> </p>
    <p> Username: <br> <%= f.text_field :username %> </p>
    <p> Email: <br> <%= f.email_field :email %> </p>
    <p> Password: <br> <%= f.password_field :password %> </p>
    <p> Confirm Password: <br> <%= f.password_field :password_confirmation %> </p>
    <%= f.submit :Signup %>
  <% end %>
</div>


  
  
  <% @topics.each do |topic| %>
  <%= label_tag 'topic_'+topic.name, topic.name %>
  <div><%= check_box_tag 'activated[topic.id]', topic.name -%></div>
  <% end %>



