<div class="sign_up">
  <h1>Sign Up</h1>
  <h2> <%= flash[:error] %> </h2>
  <%= form_for(:user, url: {action: 'create'}) do |f| %>
    <p> First Name: <br> <%= f.text_field :first_name %> </p>
    <p> Last Name: <br> <%= f.text_field :last_name %> </p>
    <p> Username: <br> <%= f.text_field :username %> </p>
    <p> Email: <br> <%= f.email_field :email %> </p>
    <p> Password: <br> <%= f.password_field :password %> </p>
    <p> Confirm Password: <br> <%= f.password_field :password_confirmation %> </p>
      <% @topics.each do |topic| %>
      
    <%= check_box_tag 'activated[]', topic.name -%>
    <%= label_tag 'topic_'+topic.name, topic.name %> <br>
      <% end %>
      <%= f.submit :Signup %>
      <% end %>
</div>


  
  



