<!DOCTYPE html>
<html>
<head>
  <title>Quora</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if session_fail %>
  <%= render "layouts/navbar" %>
  <% end %>

<%= yield %>

</body>
</html>
